
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --paddingX-mobile: 20px;
  --paddingY-mobile: 20px;
  --paddingX-pc: 13%;
  --paddingY-pc: 60px;
  --tbc-color: rgba(0, 163, 224);
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #f4f4f4;

  font-family: "Noto Sans Georgian", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: #1e1e1e;
  z-index: 1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: var(--paddingY-mobile) var(--paddingX-mobile);
  height: 70px;
  overflow: hidden;
  background-color: rgba(26, 30, 31);
}

.nav-menu-pc {
  display: none;
}

.header-button-container {
  width: 32px;
  height: 28px;
  padding: 2px 2px;
  margin-left: auto;
}

.header-button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-line {
  width: 100%;
  height: 3px;
  background-color: aliceblue;
  border-radius: 2px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.line-1 {
  width: 50%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.line-3 {
  width: 50%;
  margin-left: auto;
}

.not-visible {
  display: none;
  width: 0px;
  height: 0px;
}

.header-open-menu-container {
  padding: 0;
}

.header-button-nav-container {
  margin-left: auto;
  width: 10em;
  height: 100vh;
}

.header-button-nav-container-open {
  padding-right: var(--paddingX-mobile);
  padding-top: var(--paddingY-mobile);
  background-color: rgba(43, 43, 43);
  position: sticky;
  top: 0;
}

.header-open-menu-position-absolute {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(7, 7, 7, 0.566);
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  width: 100%;
  z-index: 1000;
}

.header-nav {
  margin-top: 2em;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

.header-nav ul li {
  list-style-type: none;
  text-align: right;
  color: aliceblue;
}

.line-1-animation {
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(47deg);
      -ms-transform: rotate(47deg);
          transform: rotate(47deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 5px;
  width: 50%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.line-2-animation {
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
          transform: rotate(-50deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.line-3-animation {
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(48deg);
      -ms-transform: rotate(48deg);
          transform: rotate(48deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 5px;
  width: 55%;
  border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* .line-1:not(.new-state) {
  animation: line-1-animation 0.5 ease forward;
} */

.sticky {
  position: sticky;
  top: 0;
  background-color: #1e1e1ef0;
  z-index: 1000;
}

.section-1 {
  width: 100%;
  background-color: rgba(43, 43, 43, 1);
}

.section-1-image-title-container {
  position: relative;
  margin-bottom: 32px;
}

.section-1-title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-1-title h1 {
  font-size: 1.3em;
  line-height: 1.6em;
  text-align: left;
  padding: 0 var(--paddingX-mobile);
}

.section-1-img {
  width: 100%;
  height: 217px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-1-container-2 {
  padding: var(--paddingY-mobile) var(--paddingX-mobile);
}

.section-1-container-2 > div {
  margin-bottom: 32px;
}

.section-1-container-2 h3 {
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: normal;
}

.section-1-button-container {
  height: 48px;
}

.section-1-button-container button {
  color: var(--tbc-color);
  width: 160px;
  height: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
}

.section-2 {
  padding: var(--paddingY-mobile) var(--paddingX-mobile);
  background-color: rgba(22, 22, 22);
}

.section-2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--paddingY-mobile);
}

.courses-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--paddingY-mobile);
}

.course-container {
  width: 100%;
  height: 19em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
  border-radius: 10px;
  border: 1px solid grey;
}

.course-image-container {
  height: 140px;
  width: 100%;
}

.course-image-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course-title-caption-button-container {
  width: 100%;
  height: calc(19em - 140px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 15px;
}

.course-button-container button {
  background-color: transparent;
  color: var(--tbc-color);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

.section-3 {
  background-color: rgba(43, 43, 43);
  padding: var(--paddingY-mobile) var(--paddingX-mobile);
}

.section-3-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--paddingY-mobile);
}

.carousel-container {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.carousel-items {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* transition: 0.8s; */
}

.carousel-page-1 {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.carousel-page-2 {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.carousel-page-3 {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.carousel-images-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.carousel-images-container img {
  width: 70%;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.carousel-dots {
  position: absolute;
  width: 100px;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #a0a0a077;
  border-radius: 50%;
}

.active {
  background-color: aliceblue;
}

.carousel-arrows {
  display: none;
}

.section-4 {
  background-color: rgba(24, 24, 24);
  padding: var(--paddingY-mobile) var(--paddingX-mobile);
}

.section-4-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 100px;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 60px 1fr 100px / 1fr 1fr;
  padding-bottom: var(--paddingY-mobile);
}

.section-4-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.questions-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
}

.section-4-button {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 4 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.section-4-title h2 {
  line-height: 1.2em;
  font-size: 20px;
}

.question {
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

.question-title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

.question-title-icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-angle-down {
  color: grey;
}

.answer-container {
  padding: var(--paddingY-mobile) 0px;
  text-align: left;
  line-height: 2;
  font-size: 0.6em;
}

.answer-1-top p {
  padding-left: 2px;
  padding-bottom: 10px;
}

.answer-1-steps {
  padding-left: 10px;
}

.answer-1-steps p {
  padding-bottom: 10px;
}

.answer-1-steps span {
  font-weight: 700;
}

.answer-container > p {
  padding-left: 5px;
}

.answer-container-display-none {
  display: none;
}

.section-4-button button {
  color: var(--tbc-color);
  padding: 5px 10px;
  background-color: transparent;
  border: none;
}

footer {
  background-color: rgba(26, 30, 31);
  width: 100%;
}

.footer-container {
  padding: var(--paddingY-mobile) var(--paddingX-mobile);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.footer-button-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
}

.footer-button {
  height: 100%;
  width: 100px;
}

.footer-button button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 7px;
  background-color: var(--tbc-color);
  color: #f4f4f4;
  letter-spacing: 0.05em;
}

.footer-icons {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
}

.footer-rights p {
  font-size: 0.8em;
}

@media (min-width: 750px) {
  .courses-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr;
  }
}

@media (min-width: 990px) {
  header {
    padding: 20px var(--paddingX-pc);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* height: 150px; */
  }

  .header-open-menu-container {
    display: none;
  }

  .nav-menu-pc {
    display: block;
    width: 50%;
  }

  .header-nav-pc {
    width: 100%;
    height: 100%;
  }

  .header-nav-pc ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-nav-pc ul li {
    color: aliceblue;
    list-style-type: none;
    font-size: 1.3em;
    /* font-size: ; */
  }

  .section-1-title {
    padding: 0 var(--paddingX-pc);
  }

  .section-1-container-2 {
    padding: var(--paddingY-pc) var(--paddingX-pc);
  }

  .section-2 {
    padding: var(--paddingY-pc) var(--paddingX-pc);
  }

  .section-3 {
    padding: var(--paddingY-pc) var(--paddingX-pc);
  }

  .courses-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  }

  .carousel-images-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 70%;
  }

  .carousel-images-container img {
    height: 25%;
  }

  .ufc-logo-container img {
    height: 40%;
  }

  .carousel-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;

    z-index: 1000;
  }

  .arrow {
    height: 100px;
    width: 40px;
  }

  .arrow i {
    height: 100%;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    color: rgba(213, 213, 213, 0.611);
  }

  .section-4 {
    padding: var(--paddingY-pc) var(--paddingX-pc);
  }

  .section-4-title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }

  .section-4-title h2 {
    height: 100%;
    width: 100%;
  }

  .section-4-button {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 /3;
    margin: 0;
  }

  .footer-container {
    padding: var(--paddingY-pc) var(--paddingX-pc);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr /1fr 1fr;
  }

  .footer-button-icons {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 3 / 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 20%;
    -webkit-box-align: self-end;
        -ms-flex-align: self-end;
            align-items: self-end;
  }

  .footer-button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer-icons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    gap: 20px;
  }
}